<%- include("../partials/header.ejs") %>

<form action="/essay/compose" method="post"  >
    <input />
    <button type="submit">
        Add
    </button>
</form>
<%- include("../partials/footer.ejs") %>